In [1]:
import math
import pandas as pd
import os

In [2]:
# Configurations
pd.set_option('display.max_columns', None)

In [3]:
# Initialize dictionaries of dataframes

data = {}

years = [18, 19, 20, 21, 22, 23]

In [4]:
# Load CSVs per year of 

# NOTE: You can comment out a line if you already have the data and don't want to import it
for x in years:
    data[x] = pd.read_csv('cleanData/merged/pbp_merged_20' + str(x) + '.csv')
# print(pbp[18].head())

# print(NGS_pbp[18].head())

print("done")

done

/var/folders/z2/rm0rvjws51g2b4p7_0ns_31w0000gp/T/ipykernel_71709/515407770.py:5: DtypeWarning: Columns (29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  data[x] = pd.read_csv('cleanData/merged/pbp_merged_20' + str(x) + '.csv')

In [5]:
# Drop uncommon personnel packages (i.e. less than 50 plays were run with this package
min_frequency = 50

for x in years:
    temp = data[x]
    count = temp['offense_personnel'].value_counts()
    data[x] = temp[temp['offense_personnel'].isin(count[count >= min_frequency].index)]

print("done")

done

In [6]:
# Drop any personnel packages with 2 QBs

for x in years:
    temp = data[x]
    data[x] = temp[~temp['offense_personnel'].str.contains("2 QB", na = False)]

print("done")

done

In [7]:
# See remaining personnel counts

for x in years:
    temp = data[x]
    temp = temp[temp['qtr'] == 4] 
    count = temp['offense_personnel'].value_counts()
    print(count)

offense_personnel
1 RB, 1 TE, 3 WR          3949
1 RB, 2 TE, 2 WR           434
2 RB, 1 TE, 2 WR           164
1 RB, 0 TE, 4 WR            87
1 RB, 3 TE, 1 WR            60
0 RB, 1 TE, 4 WR            34
2 RB, 2 TE, 1 WR            34
2 RB, 0 TE, 3 WR            30
6 OL, 1 RB, 1 TE, 2 WR      18
Name: count, dtype: int64
offense_personnel
1 RB, 1 TE, 3 WR          3700
1 RB, 2 TE, 2 WR           583
1 RB, 0 TE, 4 WR           156
2 RB, 1 TE, 2 WR           149
1 RB, 3 TE, 1 WR            51
2 RB, 2 TE, 1 WR            43
2 RB, 0 TE, 3 WR            42
6 OL, 1 RB, 1 TE, 2 WR      20
0 RB, 2 TE, 3 WR            20
0 RB, 1 TE, 4 WR            15
6 OL, 1 RB, 2 TE, 1 WR      10
Name: count, dtype: int64
offense_personnel
1 RB, 1 TE, 3 WR          3695
1 RB, 2 TE, 2 WR           567
2 RB, 1 TE, 2 WR           180
1 RB, 0 TE, 4 WR           121
1 RB, 3 TE, 1 WR            70
0 RB, 1 TE, 4 WR            68
0 RB, 2 TE, 3 WR            57
2 RB, 2 TE, 1 WR            54
2 RB, 0 TE, 3 WR            23
6 OL, 1 RB, 1 TE, 2 WR      15
6 OL, 1 RB, 2 TE, 1 WR      13
Name: count, dtype: int64
offense_personnel
1 RB, 1 TE, 3 WR          3878
1 RB, 2 TE, 2 WR           592
2 RB, 1 TE, 2 WR           159
1 RB, 0 TE, 4 WR           106
1 RB, 3 TE, 1 WR            71
0 RB, 1 TE, 4 WR            67
2 RB, 2 TE, 1 WR            42
2 RB, 0 TE, 3 WR            33
6 OL, 1 RB, 1 TE, 2 WR      16
0 RB, 2 TE, 3 WR            16
6 OL, 1 RB, 2 TE, 1 WR      12
Name: count, dtype: int64
offense_personnel
1 RB, 1 TE, 3 WR          4042
1 RB, 2 TE, 2 WR           515
2 RB, 1 TE, 2 WR           172
1 RB, 3 TE, 1 WR            79
2 RB, 2 TE, 1 WR            58
1 RB, 0 TE, 4 WR            35
6 OL, 1 RB, 2 TE, 1 WR      15
0 RB, 2 TE, 3 WR            15
6 OL, 1 RB, 1 TE, 2 WR      14
0 RB, 1 TE, 4 WR            14
2 RB, 0 TE, 3 WR            10
Name: count, dtype: int64
offense_personnel
1 RB, 1 TE, 3 WR          3468
1 RB, 2 TE, 2 WR           502
2 RB, 1 TE, 2 WR           127
1 RB, 3 TE, 1 WR            62
1 RB, 0 TE, 4 WR            27
0 RB, 1 TE, 4 WR            23
2 RB, 2 TE, 1 WR            19
0 RB, 2 TE, 3 WR            12
2 RB, 0 TE, 3 WR            11
6 OL, 1 RB, 1 TE, 2 WR       7
Name: count, dtype: int64

In [8]:
# Drop uncommon formations (i.e. jumbo and wildcat)

for x in years:
    temp = data[x]
    data[x] = temp[~temp['offense_formation'].isin(['JUMBO', 'WILDCAT'])]

print("done")

done

In [9]:
# See formations
# See remaining personnel counts

for x in years:
    temp = data[x]
    count = temp['offense_formation'].value_counts()
    print(count)

offense_formation
SHOTGUN       11752
SINGLEBACK     2497
EMPTY          2212
I_FORM          802
PISTOL          159
Name: count, dtype: int64
offense_formation
SHOTGUN       11550
SINGLEBACK     2524
EMPTY          2288
I_FORM          721
PISTOL          340
Name: count, dtype: int64
offense_formation
SHOTGUN       11764
EMPTY          2601
SINGLEBACK     2479
I_FORM          651
PISTOL          349
Name: count, dtype: int64
offense_formation
SHOTGUN       12356
EMPTY          2787
SINGLEBACK     2544
I_FORM          536
PISTOL          365
Name: count, dtype: int64
offense_formation
SHOTGUN       12292
EMPTY          2381
SINGLEBACK     2362
I_FORM          478
PISTOL          469
Name: count, dtype: int64
offense_formation
SHOTGUN       11138
EMPTY          1982
SINGLEBACK     1682
PISTOL          566
I_FORM          319
Name: count, dtype: int64

In [10]:
# Export merged data to CSVs
for x in years:
    data[x].to_csv('cleanData/refined/pbp_refined_20' + str(x) + '.csv')

print("Export successful")

Export successful

In [11]:
print(data[x].columns)

Index(['Unnamed: 0', 'Unnamed: 0_pbp', 'play_id', 'game_id', 'old_game_id',
       'home_team', 'away_team', 'season_type', 'week', 'posteam',
       'posteam_type', 'defteam', 'side_of_field', 'yardline_100', 'game_date',
       'quarter_seconds_remaining', 'game_seconds_remaining', 'qtr', 'down',
       'time', 'ydstogo', 'play_type', 'yards_gained', 'no_huddle',
       'qb_scramble', 'pass_length', 'pass_location', 'air_yards',
       'yards_after_catch', 'run_location', 'run_gap',
       'posteam_timeouts_remaining', 'total_home_score', 'total_away_score',
       'posteam_score', 'defteam_score', 'score_differential',
       'score_differential_post', 'no_score_prob', 'ep', 'epa', 'wp', 'def_wp',
       'home_wp', 'away_wp', 'wpa', 'season', 'play_type_nfl', 'out_of_bounds',
       'Unnamed: 0_pbp_part', 'nflverse_game_id', 'possession_team',
       'offense_formation', 'offense_personnel', 'defenders_in_box',
       'defense_personnel', 'number_of_pass_rushers', 'ngs_air_yards',
       'time_to_throw', 'was_pressure', 'route', 'defense_man_zone_type',
       'defense_coverage_type'],
      dtype='object')